# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [
    (1900, -0.08),
    (1920, -0.27),
    (1940, 0.12),
    (1960, -0.03),
    (1980, 0.26),
    (2000, 0.40),
    (2020, 1.02)
]

temperatura_global = pd.Series(dados)

print(temperatura_global)

0    (1900, -0.08)
1    (1920, -0.27)
2     (1940, 0.12)
3    (1960, -0.03)
4     (1980, 0.26)
5      (2000, 0.4)
6     (2020, 1.02)
dtype: object

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:

# seu código aqui
dados_2 = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anos = pd.Series(dados_2, index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])
    
print(anos)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temp_global = pd.Series(dic_temperaturas)
temp_global

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [17]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr, columns =['Coluna 1', 'Coluna 2', 'Coluna 3'])
print(df)

      Coluna 1    Coluna 2    Coluna 3
0   108.664741  102.352208   82.355228
1    95.106476  103.610990   91.468776
2    79.355299   73.174305   94.247006
3    93.074673  112.432253   80.994384
4   108.259967  109.805239  102.879306
5   103.516316  110.311437   94.814263
6    93.176198  109.173472  110.606379
7    97.043733  109.355459   95.297027
8   112.011702  107.554664  105.914911
9   102.206458  104.222055   87.046132
10   91.350698   99.074966  117.009934
11  113.485416   98.351842   96.296779
12  103.963173  113.517223  102.417251
13   90.934770  107.758533  105.091415
14  111.586349   97.834034  109.218690
15  101.218190   97.242949   81.253469
16   98.190701  109.134065  115.095207
17   96.657587   97.552314   90.498642
18  116.156567  116.951507  107.798050
19  104.648810  112.325859   85.694183

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [19]:
#seu código aqui
df = pd.DataFrame(arr, index=range(1,21), columns =['x1', 'x2', 'x3'])
print(df)

            x1          x2          x3
1   108.664741  102.352208   82.355228
2    95.106476  103.610990   91.468776
3    79.355299   73.174305   94.247006
4    93.074673  112.432253   80.994384
5   108.259967  109.805239  102.879306
6   103.516316  110.311437   94.814263
7    93.176198  109.173472  110.606379
8    97.043733  109.355459   95.297027
9   112.011702  107.554664  105.914911
10  102.206458  104.222055   87.046132
11   91.350698   99.074966  117.009934
12  113.485416   98.351842   96.296779
13  103.963173  113.517223  102.417251
14   90.934770  107.758533  105.091415
15  111.586349   97.834034  109.218690
16  101.218190   97.242949   81.253469
17   98.190701  109.134065  115.095207
18   96.657587   97.552314   90.498642
19  116.156567  116.951507  107.798050
20  104.648810  112.325859   85.694183

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [20]:
# seu código aqui
df['media'] = df.mean(axis=1)
print(df)

            x1          x2          x3       media
1   108.664741  102.352208   82.355228   97.790726
2    95.106476  103.610990   91.468776   96.728747
3    79.355299   73.174305   94.247006   82.258870
4    93.074673  112.432253   80.994384   95.500437
5   108.259967  109.805239  102.879306  106.981504
6   103.516316  110.311437   94.814263  102.880672
7    93.176198  109.173472  110.606379  104.318683
8    97.043733  109.355459   95.297027  100.565406
9   112.011702  107.554664  105.914911  108.493759
10  102.206458  104.222055   87.046132   97.824882
11   91.350698   99.074966  117.009934  102.478533
12  113.485416   98.351842   96.296779  102.711346
13  103.963173  113.517223  102.417251  106.632549
14   90.934770  107.758533  105.091415  101.261573
15  111.586349   97.834034  109.218690  106.213024
16  101.218190   97.242949   81.253469   93.238203
17   98.190701  109.134065  115.095207  107.473324
18   96.657587   97.552314   90.498642   94.902848
19  116.156567  116.951507  107.798050  113.635374
20  104.648810  112.325859   85.694183  100.889617

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [21]:
# seu código aqui
df['log_med'] = np.log(df.mean(axis=1))
print(df)

            x1          x2          x3       media   log_med
1   108.664741  102.352208   82.355228   97.790726  4.582830
2    95.106476  103.610990   91.468776   96.728747  4.571911
3    79.355299   73.174305   94.247006   82.258870  4.409871
4    93.074673  112.432253   80.994384   95.500437  4.559131
5   108.259967  109.805239  102.879306  106.981504  4.672656
6   103.516316  110.311437   94.814263  102.880672  4.633570
7    93.176198  109.173472  110.606379  104.318683  4.647450
8    97.043733  109.355459   95.297027  100.565406  4.610808
9   112.011702  107.554664  105.914911  108.493759  4.686693
10  102.206458  104.222055   87.046132   97.824882  4.583179
11   91.350698   99.074966  117.009934  102.478533  4.629653
12  113.485416   98.351842   96.296779  102.711346  4.631923
13  103.963173  113.517223  102.417251  106.632549  4.669389
14   90.934770  107.758533  105.091415  101.261573  4.617707
15  111.586349   97.834034  109.218690  106.213024  4.665447
16  101.218190   97.242949   81.253469   93.238203  4.535158
17   98.190701  109.134065  115.095207  107.473324  4.677243
18   96.657587   97.552314   90.498642   94.902848  4.552854
19  116.156567  116.951507  107.798050  113.635374  4.732995
20  104.648810  112.325859   85.694183  100.889617  4.614027